<h1>Users#edit</h1>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <%= e %>
  <% end %>
<% end %>
<form action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">
  <p>Name:</p>
  <input type="text" name="user[name]" id="Name" value="<%= @user.name %>">
  <p>Email:</p>
  <input type="text" name="user[email]" id="Email" value="<%= @user.email %>">
  <input type="submit" name="Update" value="Update">
</form>
<form action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="Delete Account" value="Delete Account">
</form>
